*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
  box-sizing: border-box;
}

html, body {
  max-width: 1400px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, h2, h3, h4, p, ul, li, dd, dt {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrp {
  max-width: 1100px;
  padding: 0 4%;
  margin: 0 auto;
}

.topic_title {
  padding: 40px 0 25px;
  text-align: center;
  margin-bottom: 30px;
}

.topic_title h2 {
  display: inline-block;
  border-bottom: dotted 8px black;
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
}

.btn {
  display: block;
  border-radius: 50px;
  background: linear-gradient(70deg, #00c3cd, #00e0af);
  color: white;
  padding: 20px 0;
  transition: .3s;
  box-shadow: 0px 5px 8px -1px rgba(7, 7, 7, 0.6);
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: .3s;
}

.btn:hover {
  transform: translateY(5px);
  box-shadow: none;
  background: linear-gradient(70deg, #cd9000, #e0e000);
}

#main_visual {
  background: url(main_visual.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#main_visual .site_title {
  width: 800px;
  margin: 0 auto;
  padding-top: 90px;
}

#main_visual .trophy_area {
  position: absolute;
  bottom: 4%;
  left: 3%;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main_visual .trophy_area li {
  width: 30%;
}

#main_visual .trophy_area li img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

#main_visual .link {
  position: absolute;
  bottom: 1%;
  left: 2%;
}

#main_visual .text {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 330px;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#main_visual .text .btn:hover {
  opacity: .7;
}

#troubles_area {
  background-image: linear-gradient(182deg, #c2829e, rgba(252, 92, 108, 0.08));
  padding: 50px 0;
  position: relative;
}

#troubles_area .section_title {
  width: 400px;
  margin: 0 auto 40px;
}

#troubles_area .troubles {
  padding: 0 5%;
}

#troubles_area .troubles li {
  display: flex;
  align-items: center;
}

#troubles_area .troubles li img {
  width: 130px;
}

#troubles_area .troubles li .troubles_text {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  font-size: 1.2rem;
}

#troubles_area .troubles .troubles_left .troubles_text {
  margin-left: 40px;
}

#troubles_area .troubles .troubles_left .troubles_text::before {
  content: "";
  position: absolute;
  top: 60%;
  left: -3px;
  margin-left: -23px;
  border: 14px solid #ffffff00;
  border-right: 22px solid white;
}

#troubles_area .troubles .troubles_right {
  justify-content: flex-end;
}

#troubles_area .troubles .troubles_right .troubles_text {
  margin-right: 40px;
}

#troubles_area .troubles .troubles_right .troubles_text::before {
  content: "";
  position: absolute;
  top: 60%;
  right: -3px;
  margin-right: -23px;
  border: 15px solid transparent;
  border-left: 22px solid white;
}

#troubles_area .link {
  position: absolute;
  bottom: 1%;
  left: 2%;
}

#realization {
  padding-bottom: 50px;
}

#realization .topic_title {
  background: linear-gradient(to right, #cc3d6c, #eddae7);
  padding: 25px 0;
  text-align: center;
  margin-bottom: 50px;
}

#realization .topic_title h2 {
  display: inline-block;
  border-bottom: dotted 8px white;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

#realization .wrp h2 {
  text-align: center;
  margin-bottom: 50px;
}

#realization .wrp h2 .first_indent {
  width: 340px;
  margin-bottom: 15px;
}

#realization .wrp h2 .second_indent {
  width: 850px;
}

#realization .wrp .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#realization .wrp .flex-box .left {
  width: 46%;
}

#realization .wrp .flex-box .left .image {
  width: 250px;
  margin: 0 auto 30px;
}

#realization .wrp .flex-box .left .image img {
  width: 100%;
}

#realization .wrp .flex-box .left .can-text {
  font-weight: bold;
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
}

#realization .wrp .flex-box .right {
  width: 46%;
}

#realization .wrp .flex-box .right img {
  width: 100%;
}

#feature {
  background: #f8d95c;
  padding-bottom: 30px;
}

#feature .wrp .topic_title {
  padding: 40px 0 25px;
  text-align: center;
  margin-bottom: 30px;
}

#feature .wrp .topic_title h2 {
  display: inline-block;
  border-bottom: dotted 8px black;
  font-weight: bold;
  color: black;
  font-size: 2.5rem;
}

#feature .wrp ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

#feature .wrp ul li {
  width: 30%;
}

#feature .wrp ul li .text {
  margin-bottom: 3%;
  text-align: center;
}

#feature .wrp ul li .text .box-title {
  font-size: 1.4rem;
}

#feature .wrp ul li .box {
  background-color: white;
  padding: 10%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#feature .wrp ul li .box .image {
  text-align: center;
  margin-bottom: 5%;
}

#feature .wrp ul li .box .image #img_1 {
  width: 60%;
}

#feature .wrp ul li .box .image #img_2 {
  width: 100%;
}

#feature .wrp ul li .box .image #img_3 {
  width: 60%;
}

#feature .wrp ul li .box .box_text {
  font-weight: bold;
}

#feature .wrp ul li .box .box_text .maker {
  color: #ff4193;
}

#feature .wrp ul li .link {
  font-size: 0.8rem;
}

#usege {
  padding-bottom: 50px;
}

#usege .wrp .topic_title {
  margin-bottom: 0px;
}

#usege .wrp .topic_title h2 {
  color: #ff46ac;
  border-bottom: dotted 8px #ff46ac;
  font-size: 2.5rem;
}

#usege .wrp h2 {
  text-align: center;
  font-size: 27.5px;
}

#usege .wrp .parent {
  position: relative;
  margin: 20px 0px;
}

#usege .wrp .parent .buy_pet {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ff46ac;
  margin-left: 60px;
}

#usege .wrp .parent::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #ff46ac;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  margin-left: 32px;
}

#usege .wrp .step_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

#usege .wrp .step_nav li {
  width: 30%;
}

#usege .wrp .step_nav li .step_box {
  background-color: #ff46ac;
  padding: 10%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 18px;
}

#usege .wrp .step_nav li .step_box .image {
  text-align: center;
}

#usege .wrp .step_nav li .step_box .image img {
  width: 100%;
}

#usege .wrp .step_nav li .step_box .image #img_1 {
  width: 80%;
}

#usege .wrp .step_nav li .button_text {
  text-align: center;
}

#usege .wrp .step_nav li .button_text .step_btn {
  width: 50%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 18px;
  background: #ff55da;
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: 13px;
}

#usege .wrp .step_nav li .button_text .text-title {
  margin-bottom: 15px;
  font-size: 1.45em;
}

#usege .wrp .step_nav li .button_text .text {
  font-weight: bold;
  font-size: 14px;
}

#usege .wrp .step_nav:first-of-type {
  margin-bottom: 80px;
}

#CTR {
  background: #eddae7;
  padding: 80px 0;
  position: relative;
}

#CTR .wrp {
  max-width: 900px;
}

#CTR .wrp .flex_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#CTR .wrp .flex_item .CTR_left {
  width: 60%;
}

#CTR .wrp .flex_item .CTR_left h2 {
  color: #ff4193;
}

#CTR .wrp .flex_item .CTR_left h2 div {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#CTR .wrp .flex_item .CTR_left .CTR_text {
  margin-bottom: 20px;
  font-weight: 700;
  color: #555555;
}

#CTR .wrp .flex_item .CTR_left .btn {
  width: 85%;
}

#CTR .wrp .flex_item .CTR_right {
  width: 35%;
  display: flex;
  justify-content: center;
}

#CTR .wrp .flex_item .CTR_right img {
  max-width: 200px;
  width: 100%;
}

#pets_problem {
  background: #373737;
  padding-bottom: 80px;
}

#pets_problem .wrp {
  max-width: 1265px;
}

#pets_problem .wrp h2 {
  text-align: center;
  padding: 8% 0;
  color: white;
  font-size: 2.6rem;
  font-weight: bold;
}

#pets_problem .wrp .flex_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

#pets_problem .wrp .flex_item .box {
  width: 49%;
  background-color: white;
  padding: 3%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pets_problem .wrp .flex_item .box .content_wrp {
  width: 100%;
}

#pets_problem .wrp .flex_item .box .content_wrp h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 15px;
}

#pets_problem .wrp .flex_item .box .content_wrp h4 {
  text-align: right;
  margin-right: 21px;
  margin-bottom: 9px;
}

#pets_problem .wrp .flex_item .box .content_wrp .inner_flex_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}

#pets_problem .wrp .flex_item .box .content_wrp .inner_flex_item .inner_item {
  width: 48%;
}

#pets_problem .wrp .flex_item .left_box .left_inner_item {
  height: 100%;
  background: url("dog-g8a9d90c5a_1920.jpg") no-repeat center cadetblue;
  background-size: cover;
  border-radius: 15px;
}

#pets_problem .wrp .flex_item .right_inner_item {
  height: 100%;
}

#pets_problem .wrp .flex_item .right_inner_item ul li {
  background-color: #e14b4b;
  margin: 5px 0;
  padding: 5px;
  font-size: 13.3px;
  font-weight: bold;
}

#pets_problem .wrp .flex_item .right_inner_item ul li:last-child {
  margin-bottom: 0;
}

#pets_problem .wrp .flex_item .right_inner_item ul li:first-child {
  margin-top: 0;
}

#pets_problem .wrp .right_box .left_inner_item {
  width: 100%;
  height: 100%;
  background: url("cat-g11cc580a4_1920.jpg") no-repeat center cadetblue;
  background-size: cover;
  border-radius: 15px;
}

#pets_problem .wrp .right_box .right_inner_item .right_inner_top_item {
  margin-bottom: 10%;
  text-align: center;
}

#pets_problem .wrp .right_box .right_inner_item .right_inner_top_item h2 {
  padding: 0;
  color: black;
}

#pets_problem .bottom-message {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#pets_problem .bottom-message p {
  margin-bottom: 35px;
}

#pets_problem .bottom-message #yello {
  color: #ffb400;
}

#pets_problem .bottom-message .inpact-massage {
  background-color: #7f0c90;
  display: inline-block;
  padding: 30px 25px;
}

#Resolution {
  background: #ff618e;
  padding-bottom: 80px;
  position: relative;
}

#Resolution .wrp h1 {
  text-align: center;
  padding: 50px;
  color: white;
}

#Resolution .wrp h1 img {
  vertical-align: bottom;
  width: 470px;
}

#Resolution .wrp h1 small {
  margin-left: -15px;
}

#Resolution .wrp h1 div {
  font-size: 55px;
}

#Resolution .wrp .pets-line .pet-contnet {
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  height: 240px;
}

#Resolution .wrp .pets-line .pet-contnet .pet-content-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#Resolution .wrp .pets-line .pet-contnet .pet-content-left .left-text {
  font-size: 1.5rem;
  font-weight: bold;
}

#Resolution .wrp .pets-line .pet-contnet .pet-content-left small {
  position: absolute;
  left: 1%;
  bottom: 1%;
}

#Resolution .wrp .pets-line .pet-contnet .pet-content-right {
  background: url("terrier-g5f85d95ef_1920.jpg");
  width: 45%;
  background-position: center 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

#Resolution .wrp .pets-line .pet-contnet #picture2 {
  background-image: url("sad-dog-waiting-in-shelter-to-be-adopted-by-someone.jpg");
}

#Resolution .wrp .pets-line .pet-contnet #picture3 {
  background-image: url("young-couple-with-cute-dog.png");
}

#Resolution::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 70px solid #ff618e;
  border-right: 110px solid transparent;
  border-left: 110px solid transparent;
}

.link {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/*# sourceMappingURL=style.css.map */