*, html,body, :after, :before  {
    background-repeat: no-repeat;
    box-sizing: inherit;
    box-sizing: border-box;

    font-size: 15px;
    margin: 0;
    padding: 0;

    //googlefontを使用
    font-family: 'Noto Sans JP', sans-serif;
    
}




h1,h2,h3,h4,p,ul ,li,dd,dt{
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrp {
    max-width: 1100px;
    padding: 0 4%;
    margin: 0 auto;
}


.topic_title {
            
    padding: 40px 0 25px;
    text-align: center;
    margin-bottom: 30px;

    h2 {
        display: inline-block;
        border-bottom: dotted 8px black;
        font-weight: bold;
        color: black;
        font-size: 2.5rem;
    }
}

.btn {
    display: block;
    border-radius: 50px;
    background: linear-gradient(70deg, #00c3cd, #00e0af);
    color: white;
    padding: 20px 0;
    transition: .3s;
    box-shadow: 0px 5px 8px -1px rgba(7,7,7,0.6);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .3s;
}

.btn:hover {
    transform: translateY(5px);
    box-shadow: none;
    background: linear-gradient(70deg, #cd9000, #e0e000);
}

.top-image {
    width: 100%;
}



#main_visual {
    background: url(images/jpg/main_visual.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

    
    .site_title {
        width: 77%;
        position: absolute;
        z-index: 100;
        top: 6%;
        left: 50%;
        transform: translateX(-50%);


        // position: absolute;
        // left: 50%;
        // top: 100px;
    }

    @media screen and(max-width: 768px) {
        .site_title {
           width: 85%;
           top: 15%;
        }
    }

    //ul
    .trophy_area {

        // position: absolute;
        // bottom: 4%;
        // left: 3%;
        // max-width: 600px;
        // width: 100%;
        // display: flex;
        // justify-content: space-between;


        position: absolute;
        bottom: 4%;
        left: 3%;
        width: 51%;
        /* width: 100%; */
        /* max-width: 787px; */
        display: flex;
        justify-content: space-between;

        li {
            width: 30%;
            

            img {
                width: 100%;
                object-fit: cover;
                vertical-align: bottom;
            }
        }

        
    }

    @media screen and(max-width: 414px) {
        .trophy_area {
            display: none;
        }
    }


        .link {
            width: 30%;
            position: absolute;
            bottom: 1%;
            left: 2%;
      
        }


    .text {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 30%;
        padding: 3%;
        text-align: center;
        background-color: white;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        img {
            width: 100%;
        }
        .btn {
            display: block;
            border-radius: 50px;
            background: linear-gradient(70deg, #00c3cd, #00e0af);
            color: white;
            padding: 7% 5%;
            transition: .3s;
            box-shadow: 0px 5px 8px -1px rgba(7,7,7,0.6);
            text-align: center;
            font-weight: bold;
            font-size: 1.2vw;
            transition: .3s;
        }

        @media screen and(max-width: 605px) {
            .btn {
                // font-size: 15px;
            }
        }

        .btn:hover {
            opacity: .7;
        }

        
    }

    @media screen and(max-width: 414px) {
        .text {
            width: 50%;
        }
    }
}

#troubles_area {
    // background: palevioletred;
    background-image: linear-gradient(182deg,#c2829e,rgba(252,92,108,.08));
    padding: 5% 0;
    position: relative;

    .section_title {
        width: 70%;
        margin: 0 auto 5%;
        img {
            vertical-align: bottom;
        }
    }
    //ul
    .troubles {
        padding: 0 5%;
        li {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            margin-bottom: 10%;
            img {
                width: 15%;
            }

            .troubles_text {
                background-color: white;
                padding: 4%;
                border-radius: 20px;
                position: relative;
                font-size: 1.2rem;
                width: 60%;
                text-align: center;
            }
           
        }

        //左側
        .troubles_left {
            
            .troubles_text {
                margin-left: 4%;
                
            }
            .troubles_text::before {
                content: "";
                position: absolute;
                top: 60%;
                left: -3px;
                margin-left: -23px;
                border: 14px solid #ffffff00;
                border-right: 22px solid white;
            }
        }

        
        //右側
        .troubles_right {
            justify-content: flex-end;
            

            .troubles_text {
                margin-right: 4%;
                
            }
            .troubles_text::before {
                content: "";
                position: absolute;
                top: 60%;
                right: -3px;
                margin-right: -23px;
                border: 15px solid transparent;
                border-left: 22px solid white;
            }
        }

       
    }

    .link {
        position: absolute;
        bottom: 1%;
        left: 2%;
    }
}





#realization {

    padding-bottom: 5%;

    .topic_title {
        
        background: linear-gradient(to right, #cc3d6c, #eddae7);
        padding: 25px 0;
        text-align: center;
        margin-bottom: 5%;

        h2 {
            display: inline-block;
            border-bottom: dotted 8px white;
            font-weight: bold;
            color: white;
            font-size: 5.5vw; 

            
        }

        @media screen and(min-width: 1200px) {
            h2 {
                font-size: 4rem;
            }
        }
    }

    .wrp {

        h2 {
            text-align: center;
            margin-bottom: 5%;
            .first_indent {
                width: 50%;
            }

            .second_indent {
                width: 100%;
            }
        }
        .flex-box {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .left {
                width: 46%;

                .image {
                    width: 75%;
                    margin: 0 auto 4%;

                    img {      
                        width: 100%;
                    }
                }

                .can-text {
                    font-weight: bold;
                    font-size: 1.2vw;
                }
                
            }

            .right {
                width: 46%;
                img {

                    width: 100%;
                }
            }
           
        }
    }
}

#feature {
    background: rgb(248, 217, 92);
    padding-bottom: 5%;
    .wrp {
        .topic_title {
            
            padding: 7% 0 4%;
            text-align: center;
            margin-bottom: 30px;

            h2 {
                display: inline-block;
                border-bottom: dotted 8px black;
                font-weight: bold;
                color: black;
                font-size: 5.5vw;
            }

            @media screen and(min-width: 1200px) {
                h2 {
                font-size: 3rem;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;

            li {
                width: 30%;

                .text {
                    margin-bottom: 3%;

                    .box-title {
                        font-size: 1.6vw;
                    
                    }



                    // @media screen and(max-width: 1060px) {

                    //     .box-title {
                    //         font-size: 12px;
                        
                    //     }
                    // }
                    

                    @media screen and(min-width: 1200px) {

                        .box-title {
                            font-size: 1.2rem;
                        
                        }
                    }
                }

                .box {
                    background-color: white;
                    padding: 10%;
                    height: 350px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .image {
                        text-align: center;
                        margin-bottom: 5%;
                   
                        
                        #img_1 {
                            // max-width: 200px;
                            width: 60%;
                        }
                        #img_2 {
                            width: 100%; 
                         
                        }
                        #img_3 {
                            // max-width: 200px;
                            width: 60%;
                      
                        }
                    
                        
                    }

                    .box_text {
                        font-weight: bold;
                        .maker {
                            color: rgb(255, 65, 147);
                        }
                    }
                    
                }

                .link {
                    font-size: 0.8rem;
                }
            }
        }

        @media screen and(max-width: 414px) {
            ul {
                flex-direction: column;

                li {
                    width: 100%;
                    margin-bottom: 15%;
                    .text {
                        .box-title {
                            font-size: 5vw;
                        }
                    }
                }
            }
        }

        small {
            font-size: 1px;
        }
    }
}

#usege {
    padding-bottom: 50px;
    .wrp {
        .topic_title {
            margin-bottom: 0px;
            h2 {
                color: rgb(255, 70, 172);
                border-bottom: dotted 8px rgb(255, 70, 172);
                font-size: 2.5rem;
            }
        }

        h2 {
            text-align: center;
            font-size: 27.5px;
            
        }

        .parent {
            position: relative;
            margin:  20px 0px;
            .buy_pet {
                font-size: 2.4rem;
                font-weight: bold;
                color: rgb(255, 70, 172); 
                margin-left: 60px;      
            }

            
        }

        .parent::before {
            content: "";
            width: 35px;
            height: 35px;
            border-radius: 35px;
            background-color: rgb(255, 70, 172);
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            margin-left: 32px;
            
        }
       

       

        .step_nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            li {
                width: 30%;
                // .step_box {
                //     background-color: rgb(255, 70, 172);
                //     padding: 10%;
                //     height: 300px;
                //     display: flex;
                //     flex-direction: column;
                //     justify-content: center;
                //     align-items: center;
                //     border-radius: 30px;
                //     margin-bottom: 18px;

                //     .image {
                //         text-align: center;
                //         img {
                //             width: 100%;
                //         }

                //         #img_1 {
                //             width: 80%;
                //         }
                //     }
                // }

                

                .button_text {
                    text-align: center;
                    // position: absolute;
                    // bottom: 0;
                    .step_btn {
                        font-size: 2vw;
                        width: 50%;
                        margin: 0 auto;
                        padding:  5% 3%;
                        border-radius: 18px;
                        background: rgb(255, 85, 218);
                        color: white;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        margin-bottom: 13px;
                    }

                    .text-title {
                        margin-bottom: 15px;
                        font-size: 1.45em;
                    }

                    .text {
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
            }

            
        }

        //iphoneXRのサイズでレスポンシブ対応
        @media screen and(max-width: 414px) {
                
            .step_nav {
                flex-direction: column;

                li {
                    width: 100%;
                    margin-bottom: 12%;

                    .button_text {
                       margin-top: 2%;
                    }
                }

                li:last-of-type {
                    margin-bottom: 0;
                }
            }
           
            
        }

        .step_nav:first-of-type {
            margin-bottom: 80px;
        }
    }
}

#CTR {
    background: #eddae7;
    padding: 8% 0;
    position: relative;
    .wrp {
        // max-width: 900px;
        .flex_item {
            display: flex;
            justify-content: space-between;
            align-items: center;


    
            .CTR_left {
                width: 60%;
                h2 {
                    color: #ff4193;

                    small {
                        font-size: 2.5vw;
                    }

                    @media screen and (min-width: 1200px) {
                        small {
                        font-size: 25px;
                        }   
                    }

                    div {
                        font-size: 4vw;
                        margin-bottom: 20px;
                    }


                    @media screen and(min-width: 1200px) {
                        div {
                            font-size: 3rem;
                        }
                    }
                }
    
                .CTR_text {
                    margin-bottom: 20px;
                    font-weight: 700;
                    color: #555555;
                    font-size: 1.5vw;
                }

                @media screen and(min-width: 1200px) {
                    .CTR_text {
                        font-size: 1.5rem;
                    }
                }

                @media screen and(max-width: 768px) {
                    .CTR_text {
                        font-size: 2.5vw;
                    }
                }


    
                .btn {
                    width: 80%;
                    padding: 3% 0;
                    font-size: 2.5vw;

                }


                @media screen and(min-width: 1200px) {
                    .btn {
                        font-size: 2rem;
                    }
                }
            }
    
            .CTR_right {
                width: 35%;
                display: flex;
                justify-content: center;
                    
                    img {
                        max-width: 200px;
                        width: 100%;
                    }
               
            }
    
            
        }


    }
  
   
}

@media screen and(min-width: 1200px) {
   #CTR {
    padding: 80px 0;

   }
}

#pets_problem {
    background: rgb(55, 55, 55);
    padding-bottom: 80px;
    .wrp {
        max-width: 1265px;

          
    h2 {
        text-align: center;
        // margin-bottom: 50px;
        padding: 8% 0;
        color: white;
        font-size: 2.6rem;
        font-weight: bold;
    }

    .flex_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        .box {
            width: 49%;
            // background-color: white;
            // padding: 3%;
            // border-radius: 30px;


            // display: flex;
            // align-items: center;
            // justify-content: center;

            // .content_wrp {
            //     width: 100%;
            //     h3 {
            //         font-size: 1.4rem;
            //         text-align: center;
            //         margin-bottom: 15px;
            //     }
    
            //     h4 {
            //         text-align: right;
            //         margin-right: 21px;
            //         margin-bottom: 9px;
            //     }
            //     .inner_flex_item {
            //         display: flex;
            //         justify-content: space-between;
            //         align-items: center;
            //         height: 250px;
            //         .inner_item {
            //             width: 48%;
            //         }
    
                    
            //     }
            // }
                
            
        }

        
        //左の箱
        // .left_box {

        //     .left_inner_item { 
        //         height: 100%;
        //         background: url("dog-g8a9d90c5a_1920.jpg") no-repeat center cadetblue;
        //         background-size: cover;
        //         border-radius: 15px;
        //     }
        // }
        // .right_inner_item {
        //     height: 100%;
        //     ul {
        //         li {
        //             background-color: rgb(225, 75, 75);
        //             margin: 5px 0;
        //             padding: 5px;
        //             font-size: 13.3px;
        //             font-weight: bold;
        //         }

        //         li:last-child {
        //             margin-bottom: 0;
        //         }

        //         li:first-child {
        //             margin-top: 0;
        //         }
        //     }
        // }
    }

        //右の箱
        // .right_box {

        //     .left_inner_item { 
        //         width: 100%;
        //         height: 100%;
        //         background: url("cat-g11cc580a4_1920.jpg") no-repeat center cadetblue;
        //         background-size: cover;
        //         border-radius: 15px;
        //     }

        //     .right_inner_item {
        //         .right_inner_top_item {
        //             margin-bottom: 10%;
        //             text-align: center;
        //             h2 {
        //                 padding: 0;
        //                 color: black;
        //             }
        //         }
                
        //     }
        // }
        
       
    }

    .bottom-message {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;

        p {
            margin-bottom: 35px;
        }
        #yello {
            color: #ffb400;
        }

        .inpact-massage {
            background-color: #7f0c90;
            display: inline-block;
            padding: 30px 25px;
        }
    }
    }
  


#Resolution {
    background:#ff618e;
    padding: 5% 0;

    position: relative;
    .wrp {
        h1 {
            text-align: center;
            padding: 3% 0;

            img {
                // vertical-align: bottom;
                width: 75%;
            }
            small {
                margin-left: -15px;
            }

            div {
                font-size: 55px;
            }
        }

        //ul
        .pets-line {

            //li
            .pet-contnet {
                background-color: white;
                margin-bottom: 20px;
                // padding: 20px;
                width: 100%;
                display: flex;
                // justify-content: space-between;
                // height: 240px;

                .pet-content-left {
                    width: 55%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding: 0 2.5%;
                    .left-text {
                        font-size: 2.5vw;
                        font-weight: bold;
                        
                    }

                    

                    @media screen and(min-width: 1200px) {
                        .left-text {
                            font-size: 1.7rem;
                        }
                    }

                    small {
                        position: absolute;
                        left: 1%;
                        bottom: 1%;
                        font-size: 2px;
                    }
                }

                //liの右側
                .pet-content-right {
                    background: url("images/jpg/pets-line (1).jpg");
                    width: 45%;
                    background-position: center 30%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding: 15%;
                }

                #picture2 {
                    background-image: url("images/jpg/pets-line (2).jpg");
                }

                #picture3 {
                    background-image: url("images/png/pets-line (3).png");
                }


            }
        }

    }
}

#Resolution::before {
    content: "";
    position: absolute;
    bottom: -7%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 70px solid #ff618e;
    border-right: 110px solid transparent;
    border-left: 110px solid transparent;
    z-index: 100;
}



    .link {
        position: absolute;
        bottom: 1%;
        right: 1%;
        font-size: 1px;
    }
  

